body{
  color: crimson;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  font-size: 16px;
}
h1{
  font-size: 30px;
}
#container{
  width: 70%;
  padding: 1em;
  margin: 0 auto;
  border: 1px solid #ddd;
  text-align: center;
}